.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

#refreshButton {
  background-color: #4CAF50; /* Yeşil arka plan rengi */
  border: none; /* Kenarlık yok */
  color: white; /* Beyaz yazı rengi */
  padding: 15px 32px; /* Buton içi boşluk */
  text-align: center; /* Metni ortala */
  text-decoration: none; /* Metin süsü yok */
  display: inline-block; /* Satır içi blok eleman */
  font-size: 16px; /* Yazı boyutu */
  margin: 4px 2px; /* Buton dışı boşluk */
  cursor: pointer; /* İmleç değişimi */
  border-radius: 8px; /* Köşeleri yuvarla */
  transition: background-color 0.3s ease; /* Geçiş efekti */
}

#refreshButton:hover {
  background-color: #45a049; /* Hover durumu için arka plan rengi */
}

.buttons{

  
  margin-left: 46%;
}